<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    cacheDirectory=".misc/.phpunit.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    beStrictAboutCoverageMetadata="false"
    stopOnFailure="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/BaseTest.php</exclude>
        </testsuite>
    </testsuites>
    <source restrictNotices="true"
        restrictWarnings="true"
        ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="false">
        <report>
            <html outputDirectory=".misc/reports/"/>
        </report>
    </coverage>
</phpunit>
