<div class="sortPreacher" style="display: inline-block">
	<form action="" method="get">
		<select name="wpfc_preacher" title="Preacher" id="wpfc_preacher"
			onchange="if(this.options[this.selectedIndex].value !== ''){return this.form.submit()}else{window.location = window.location.href.split('?')[0];}"
			autocomplete="off">
			<option value="">Preacher</option>
			<option value="daryl-peterson">Daryl Peterson</option>
			<option value="pastor-paul-winegeart">Pastor Paul Winegeart</option>
		</select>
		<noscript>
			<div><input type="submit" value="Submit" /></div>
		</noscript>
	</form>
</div>

<div class="sortSeries" style="display: inline-block">
	<form action="" method="get">
		<select name="wpfc_sermon_series" title="Series" id="wpfc_sermon_series"
			onchange="if(this.options[this.selectedIndex].value !== ''){return this.form.submit()}else{window.location = window.location.href.split('?')[0];}"
			autocomplete="off">
			<option value="">Series</option>
			<option value="sm-test-series-1">SM TEST SERIES 1</option>
			<option value="sm-test-series-2">SM TEST SERIES 2</option>
		</select>
		<noscript>
			<div><input type="submit" value="Submit" /></div>
		</noscript>
	</form>
</div>

<div class="sortTopics" style="display: inline-block">
	<form action="" method="get">
		<select name="wpfc_sermon_topics" title="Topic" id="wpfc_sermon_topics"
			onchange="if(this.options[this.selectedIndex].value !== ''){return this.form.submit()}else{window.location = window.location.href.split('?')[0];}"
			autocomplete="off">
			<option value="">Topic</option>
			<option value="anxiety">Anxiety</option>
			<option value="assurance">assurance</option>
			<option value="belonging">Belonging</option>
			<option value="christmas">Christmas</option>
			<option value="church">Church</option>
			<option value="comfort">comfort</option>
			<option value="communion">Communion</option>
			<option value="confidence">confidence</option>
			<option value="covid-19">Covid-19</option>
			<option value="easter">Easter</option>
			<option value="encouragement">Encouragement</option>
			<option value="evangelism">Evangelism</option>
			<option value="faith">Faith</option>
			<option value="fame">fame</option>
			<option value="fathers-day">Fathers Day</option>
			<option value="fear">Fear</option>
			<option value="fellowship">Fellowship</option>
			<option value="finances">finances</option>
			<option value="fourth-of-july">fourth of july</option>
			<option value="future">Future</option>
			<option value="giving">giving</option>
			<option value="gods-favor">God's Favor</option>
			<option value="gods-plan">God's plan</option>
			<option value="gods-will">God's Will</option>
			<option value="grace">Grace</option>
			<option value="graduation">graduation</option>
			<option value="greed">greed</option>
			<option value="growth">Growth</option>
			<option value="hard-times">Hard Times</option>
			<option value="invite">Invite</option>
			<option value="life">Life</option>
			<option value="marriage">Marriage</option>
			<option value="ministry">Ministry</option>
			<option value="money">money</option>
			<option value="mothers-day">Mothers Day</option>
			<option value="overwhelmed">Overwhelmed</option>
			<option value="palm-sunday">Palm Sunday</option>
			<option value="patriotic">Patriotic</option>
			<option value="peace">Peace</option>
			<option value="perfection">Perfection</option>
			<option value="prayer">Prayer</option>
			<option value="pride">pride</option>
			<option value="priorities">priorities</option>
			<option value="priority">Priority</option>
			<option value="purity">Purity</option>
			<option value="purpose">Purpose</option>
			<option value="service">service</option>
			<option value="sovereignty">Sovereignty</option>
			<option value="spiritual-gifts">spiritual gifts</option>
			<option value="stress">Stress</option>
			<option value="temptation">Temptation</option>
			<option value="thankful">Thankful</option>
			<option value="tithing">tithing</option>
			<option value="trust">Trust</option>
			<option value="usa">USA</option>
			<option value="wealth">wealth</option>
			<option value="worry">Worry</option>
		</select>
		<noscript>
			<div><input type="submit" value="Submit" /></div>
		</noscript>
	</form>
</div>

<div class="sortBooks" style="display: inline-block">
	<form action="" method="get">
		<select name="wpfc_bible_book" title="Book" id="wpfc_bible_book"
			onchange="if(this.options[this.selectedIndex].value !== ''){return this.form.submit()}else{window.location = window.location.href.split('?')[0];}"
			autocomplete="off">
			<option value="">Book</option>
			<option value="jonah">Jonah</option>
			<option value="acts">Acts</option>
			<option value="isaiah">Isaiah</option>
			<option value="luke">Luke</option>
			<option value="titus">Titus</option>
			<option value="mark">Mark</option>
			<option value="john">John</option>
			<option value="daniel">Daniel</option>
			<option value="proverbs">Proverbs</option>
			<option value="colossians">Colossians</option>
			<option value="corinthians">Corinthians</option>
			<option value="judges">Judges</option>
			<option value="psalms">Psalms</option>
			<option value="hosea">Hosea</option>
			<option value="philippians">Philippians</option>
			<option value="2-corinthians">2 Corinthians</option>
			<option value="ecclesiastes">Ecclesiastes</option>
			<option value="ephesians">Ephesians</option>
			<option value="philemon">Philemon</option>
			<option value="romans">Romans</option>
			<option value="proverbs-3110"><a class="rtBibleRef" href="https://ref.ly/Prov%2031.10;esv?t=biblia"
					data-reference="Prov 31.10" data-version="esv" data-purpose="bible-reference" target="_blank"
					rel="noopener">Proverbs 31:10</a></option>
			<option value="1-corinthians">1 Corinthians</option>
			<option value="james">James</option>
			<option value="matthew">Matthew</option>
			<option value="genesis">Genesis</option>
			<option value="revelation">Revelation</option>
			<option value="hebrews">Hebrews</option>
			<option value="exodus">Exodus</option>
			<option value="1-thessalonians">1 Thessalonians</option>
			<option value="1-peter">1 Peter</option>
			<option value="1-timothy">1 Timothy</option>
			<option value="ezra">Ezra</option>
			<option value="galatians">Galatians</option>
			<option value="1-samuel">1 Samuel</option>
			<option value="1-john">1 John</option>
		</select>
		<noscript>
			<div><input type="submit" value="Submit" /></div>
		</noscript>
	</form>
</div>