.row-wrap {
    display: block;
    padding-bottom: .8rem;
    align-items: center;
    overflow: hidden;
}

.row-wrap:not(:last-of-type),
.postbox-container .row-wrap:not(:last-of-type) {
    border-bottom: 1px solid #e9e9e9;
}

.row-wrap,
.postbox-container .row-wrap {
    padding: 1.8em 0;
}

.col-label {
    color: #222;
    float: left;
    font-weight: 600;
    line-height: 1.3;
    width: 18%;
    padding: 0 2% 0 0;
}

.col-label label {
    display: block;
    padding: 5px 0;
}

.col-field {
    display: block;
    width: 80%;
    float: right;
}

.col-field input[type="text"],
.col-field textarea,
.col-field select {
    max-width: 100%;
    padding: 5px;
    width: 30em;
}

.col-field input[type="button"] {
    padding: 5px 10px;
}

.input-description::before {
    content: ' ';
    display: block;
}

.input-description {
    color: #aaa;
    font-style: italic;
    font-size: .9rem;
}

@media (max-width: 450px) {

    /* line 209, sass/partials/_main_wrap.scss */
    .col-label {
        display: block;
        float: none;
        padding-bottom: 1em;
        text-align: left;
        width: 100%;
    }

    .col-field {
        display: block;
        float: none;
        width: 100%;
    }

    .col-field input[type="text"],
    .col-field textarea,
    .col-field select {
        max-width: 100%;
        padding: 5px;
        width: 20em;
    }
}