@media (max-width: 450px) {

	.cmb-td,
	.cmb-th,
	.cmb-th+.cmb-td {
		display: block;
		float: none;
		width: auto;
	}

	.cmb-type-group .cmb-th,
	.cmb2-postbox .cmb-th {
		width: 100% !important;
		padding: 0 2% 0 0;
	}

	.cmb-type-group .cmb-th+.cmb-td,
	.cmb2-postbox .cmb-th+.cmb-td {
		width: 100% !important;
		float: none;
	}

	.cmb2-wrap input.cmb2-upload-file {
		width: 100% !important;
	}

	.cmb2-wrap input:not([type="hidden"])+.button-secondary,
	.cmb2-wrap input:not([type="hidden"])+input,
	.cmb2-wrap input:not([type="hidden"])+select {
		margin-left: 0px !important;
	}

	.wp-core-ui .button,
	.wp-core-ui .button-secondary {
		color: #2271b1 !important;
		border-color: #2271b1;
		background: #f6f7f7;
		vertical-align: top;
	}

}

#drppsm .settings-main {
	display: flex;
	margin-top: 5px;
}

#drppsm .wrap-heading {
	font-size: 24px;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
}

#drppsm .settings-content {
	width: 100%;
	background: white;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

#drppsm .settings-side {
	width: 30%;
	max-width: 300px;
	margin-left: 1rem;

}

#drppsm .settings-content .nav-tab-wrapper {
	background: white;
	padding: 0;
	border-bottom: 1px solid #e8e8e8;
}

#drppsm .settings-content .nav-tab-wrapper .nav-tab {
	float: none;
	border: none;
	margin: 0;
	padding: 20px 20px;
	display: inline-block;
	background: none;
}

#drppsm .settings-content .nav-tab-wrapper .nav-tab-active,
#drppsm .settings-content .nav-tab-wrapper .nav-tab-active:focus,
#drppsm .settings-content .nav-tab-wrapper .nav-tab-active:focus:active,
#drppsm .settings-content .nav-tab-wrapper .nav-tab-active:hover {
	border-bottom: 2px solid #4abcf0;
	font-weight: bold;
}

#drppsm .settings-content .inside {
	padding: .2rem 1rem .01rem 1rem;
}

.drppsm-tax-thumb {

	border: 1px solid #6e6e6e;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 3px;
	width: 75px;
	height: 75px;
}

.drppsm-tax-thumb>img {
	display: block;
	border: none;
	width: 100%;
	opacity: 0.8;
}

#drppsm-image,
.drppsm-image,
.column-drppsm-image {
	width: 100px;
	max-height: 75px;
}

#drppsm-tax-id,
.drppsm-tax-id,
.column-drppsm-tax-id {
	width: 75px;
}

@media (max-width: 450px) {

	#drppsm-image,
	.drppsm-image,
	.column-drppsm-image,
	#drppsm-count,
	.drppsm-count,
	.column-drppsm-count,
	#drppsm-tax-id,
	.drppsm-tax-id,
	.column-drppsm-tax-id,
	#drppsm-description,
	.drppsm-description,
	.column-drppsm-description {
		display: none !important;
	}

	#drppsm .settings-side {
		display: none;
	}

}

@media (max-height:450px) and (orientation: landscape) {

	#drppsm-image,
	.drppsm-image,
	.column-drppsm-image,
	#drppsm-count,
	.drppsm-count,
	.column-drppsm-count,
	#drppsm-tax-id,
	.drppsm-tax-id,
	.column-drppsm-tax-id,
	#drppsm-description,
	.drppsm-description,
	.column-drppsm-description {
		display: none !important;
	}

	#drppsm .settings-side {
		display: none;
	}

}