/* phpcs:ignoreFile */

/******************************************************
* SERMON ARCHIVE STYLES
******************************************************/

@media (min-width: 801px) {

	.drppsm-archive-inner {
		display: flex;
		flex-direction: row;
	}

	.drppsm-archive-article {
		padding: 1.5rem !important;
	}

	.drppsm-archive-image {
		/*width: 25%;*/
		flex: 0 30%;

	}

	.drppsm-archive-main {
		/*width: 75%;*/
		flex: 1;
		padding: 0;
		padding-left: 1rem;
	}

	.drppsm-archive-meta-item {
		display: flex;
		flex-direction: row;
	}

	.drppsm-archive-meta-title {
		flex: 0 0 100%;
	}

	.drppsm-archive-meta-prefix,
	.drppsm-archive-title-prefix {
		width: 15%;
	}

	.drppsm-archive-meta-text,
	.drppsm-archive-title-text {
		width: 80%;
	}

}

@media (max-width: 544px) {
	.drppsm-archive-article {
		padding: 0;
	}

	.drppsm-archive-inner {
		display: grid;
	}

	.drppsm-archive-image {
		/*width: 100%;*/
	}

	.drppsm-archive-image-img {
		width: 100%;
		height: auto !important;
	}

	/*
	.drppsm-archive-main {
		width: 100%;
		padding-left: 0;
	}
	*/

	.drppsm-archive-meta-item {
		display: inline-block;
		width: 100%;
	}

	.drppsm-archive-meta-title {
		flex: 0 0 100%;
	}

	.drppsm-archive-meta-prefix {
		display: inline-block;
	}

	.drppsm-archive-meta-text {
		display: inline-block;
	}

	.drppsm-archive-title-prefix {
		width: 0;
		margin: 0;
		padding: 0;
		display: none;
	}

	.drppsm-archive-title-text {
		width: 100%;
		padding-top: .5em;
		padding-bottom: .5em;
	}

}

#drppsm-sermon-wrapper {
	width: 100%;
	margin: 1.5rem 0;
	padding: 0;
}

.drppsm-archive-post-title {
	color: black;
	font-size: 1.3rem;
}

.drppsm-archive-image {
	height: auto;
	position: relative;
}

.drppsm-archive-main {
	/*width: 100%;*/
	padding: 24px;
}

/******************************************************
* SERMON SINGE STYLES
******************************************************/
@media (min-width: 993px) {

	.drppsm-single-inner {
		display: flex;
		flex-direction: row;
	}

	.drppsm-single-article {
		padding: 2em !important;

	}

	.drppsm-single-image {
		width: 35% !important;
	}

	.drppsm-single-image-img {
		width: 100%;
		height: auto !important;
	}

	.drppsm-single-main {
		width: 65%;
		padding-left: 1em;
	}

	.drppsm-single-meta-item {
		display: flex;
		flex-direction: row;
	}

	.drppsm-single-meta-title {
		flex: 0 0 100%;
	}

	.drppsm-single-meta-prefix,
	.drppsm-single-title-prefix {
		width: 15%;
	}

	.drppsm-single-meta-text,
	.drppsm-single-title-text {
		width: 80%;
	}
}

@media (max-width: 544px) {
	.drppsm-single-article {
		padding: 0;
	}

	.drppsm-single-inner {
		display: grid;
	}

	.drppsm-single-image {
		width: 100%;
	}

	.drppsm-single-image-img {
		width: 100%;
		height: auto !important;
	}

	.drppsm-single-main {
		width: 100%;
		padding-left: 0;
		min-height: 80vh;
	}

	.drppsm-single-meta-item {
		display: inline-block;
		width: 100%;
	}

	.drppsm-single-meta-prefix {
		display: inline-block;
	}

	.drppsm-single-meta-text {
		display: inline-block;
	}

	.drppsm-single-meta-text>a>h4 {
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.drppsm-single-title-prefix {
		width: 0;
		margin: 0;
		padding: 0;
		display: none;
	}

	.drppsm-single-title-text {
		width: 100%;
		padding-top: .5em;
		padding-bottom: .5em;
	}
}

.drppsm-sermon-container {
	min-height: 70vh;
}

.drppsm-single-player {
	display: flex;
	flex-direction: row;
}

.drppsm-error-wrap {
	padding: 1.5em;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	min-height: 80vh;
}

.drppsm-template-error {
	flex-direction: column;
	width: 100%;
	height: 100%;
}