#drppsm-archive {
	padding: 1em;

	.header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}

	.header .title {
		flex: 1 0 auto;
		width: 100%;
		font-weight: 700;
		font-size: 32px;
	}

	.header .meta {
		flex: 1 0 auto;
		width: 100%;
		font-style: italic;
		font-size: 20px;
	}

	.btn-sm {
		font-size: 24px;
		vertical-align: middle;
		height: 24px;
		width: 24px;
		display: inline-block;
	}

	.btn-md {
		font-size: 32px;
		vertical-align: middle;
		height: 32px;
		width: 32px;
		display: inline-block;
	}

	.btn-medium-lg {
		font-size: 48px;
		vertical-align: middle;
		height: 48px;
		width: 48px;
		display: inline-block;
	}

	.meta-item {
		display: inline-flex;
		color: #000;
	}

	.meta-item .label,
	.meta-item .value {
		padding-right: 8px;
	}

	.meta-item .label {
		font-weight: bold;
	}

	.media {
		min-height: 300px;
		margin: 24px 0;
	}

	table {
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		color: rgb(54, 54, 54);
	}

	table tr td {
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	table tr.odd {
		background-color: #f1f1f1;
	}

	table tr.even {
		background-color: #fff;
	}

	table tr.active {
		background-color: rgb(8, 106, 254);
		color: #fff;
	}

	table tr.active a {
		text-decoration: none;
		color: #fff;
	}

	table a {
		text-decoration: none;
		color: rgb(8, 106, 254);

	}

	table tr.odd td.title-cell,
	table tr.even td.title-cell {
		color: #000000;
		font-weight: 700;
		text-align: left;
		padding: 7px 7px 7px 12px;
	}

	@media (max-height: 500px) {
		padding: 0;
	}

	@media (max-width: 800px) {
		padding: 0;

		table tr {
			display: block;
		}

		table tr.odd td.preacher-cell,
		table tr.odd td.date-cell,
		table tr.even td.preacher-cell,
		table tr.even td.date-cell,
		table tr.active td.preacher-cell,
		table tr.active td.date-cell {
			display: block;
			font-size: 15px !important;
			text-align: center;
			padding: 0 7px 2px 12px;
			word-wrap: break-word !important;

		}

		table tr.odd td.title-cell,
		table tr.even td.title-cell,
		table tr.active td.title-cell {
			display: block;
			color: #000000;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			padding: 7px 7px 7px 12px;
		}

		table tr.odd td.watch-cell,
		table tr.even td.watch-cell,
		table tr.active td.watch-cell {
			display: block;
			text-align: center;
			padding: 0px;
		}

		table tr.active td {
			color: #ffffff;
		}
	}

}

.drppsm-archive {

	&-shortcode {
		margin-bottom: 2rem;

	}

	&-image {
		height: auto;
		position: relative;
		flex: 0 40%;
	}

	&-image-img {
		width: 100%;
		background-size: cover;
		background-position: center;
	}

	&-header {
		display: grid;
		align-items: center;

		&.aside-exists {
			grid-template-columns: 70% 30%;
		}

	}

	&-main {
		background-color: #fff;
	}

	&-header-aside {
		text-align: center;
	}

	&-title {
		margin: 0;
		padding: 0;
		text-decoration: none !important;
	}

	&-meta-series {
		margin: 0 0 8px 0;
	}

	&-description {
		font-size: 14px;
		margin: 8px 0 0;

		p {
			margin: 0 0 12px 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	&-audio {
		margin-top: 24px;
	}

	&-footer {
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid #ddd;

		.drppsm-archive-meta-item {
			display: inline-block;
			position: relative;

			&:not(:last-child):after {
				content: '|';
				padding: 0 4px;
				color: #ddd;
			}
		}
	}

	&-meta-preacher {
		img {
			border-radius: 50%;
			width: 35px;
			height: 35px;
			vertical-align: middle;
			display: inline-block;
		}

		>a {
			text-decoration: none;
			box-shadow: none;
			border: 0;
			display: inline-block;
		}
	}

	&-meta-prefix,
	&-meta-text {
		vertical-align: middle;
	}

	>.drppsm-archive-inner {
		background: white;
		border: 1px solid #ddd;
	}

	&-att-audio,
	&-att-notes,
	&-bulletin {
		width: auto;
		height: auto;
		padding: 4px;
		border: 1px solid #efefef;
		margin-bottom: 4px;
	}
}

[id^=sermon-archive-id-] {
	padding: 1em 0 !important;
}

[id^=sermon-archive-id-]:last-child {
	padding: 1em 0 3em 0 !important;
}

@media (min-width: 801px) {
	.drppsm-archive {
		&-inner {
			display: flex;
			flex-flow: row wrap;
		}

		&-image-img {
			height: 100%;
		}

		&-main {
			flex: 1;
			padding: 1em 0 1em 1em;
		}

	}
}

@media(max-width: 800px) {
	.drppsm-archive {

		&-main {
			margin-top: 1em;
		}
	}
}