#drppsm-image-list {

	justify-content: space-between;

	ul {
		padding: 0 !important;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}

	ul.list-meta li {
		padding: 0;
	}

	li {
		padding: 1em 0em;
		list-style: none !important;

	}

	li img {
		height: 100%;
		width: 100%;
		object-fit: fill;
	}

	li.col1 {
		flex: 0 0 100%;
	}

	li.col2 {
		flex: 0 0 49%;
	}

	li.col2 img {
		height: 315px;
	}

	li.col3 {
		flex: 0 0 32%;

	}

	li.col3 img {
		height: 210px;
	}

	li.col4 {
		flex: 0 0 24%;
	}

	li.col4 img {
		height: 160px;
	}

	.list-info {
		padding: 1em;
		background-color: white;
		border: 1px solid #e0e0e0;
		height: 140px;
		text-align: center;
		color: #000;
	}

	.list-info h4 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.list-info h5 {
		font-size: 15px;
		font-weight: 300;
		margin: 0;
	}

	.list-info p {
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		margin: 0;
	}

	@media(max-width: 800px) {

		li.col1,
		li.col2,
		li.col3,
		li.col3,
		li.col4 {
			flex: 0 0 100%;
		}

		li.col1 img,
		li.col2 img,
		li.col3 img,
		li.col4 img {
			height: 240px;
		}

		.list-info h4 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
		}

		.list-info h5 {
			font-size: 14px;
			font-weight: 300;
			margin-top: 0;
		}

		.list-info p {
			font-size: 14px;
		}

	}

	// ADVANCED

}