#drppsm-image-list {

	justify-content: space-between;

	ul {
		padding: 0;
		display: flex;
		flex-wrap: wrap;

	}

	li {
		padding: 1em;
		list-style: none !important;

	}

	li img {
		height: 100%;
		width: 100%;
		object-fit: fill;
	}

	li.col1 {
		flex: 0 0 100%;
	}

	li.col2 {
		flex: 0 0 50%;
	}

	li.col3 {
		flex: 0 0 33.3333%;
	}

	li.col3 img {
		height: 250px;
	}

	li.col4 {
		flex: 0 0 25%;
	}

	@media(max-width: 800px) {

		li.col1,
		li.col2,
		li.col3,
		li.col3 {
			flex: 0 0 100%;
		}

		li.col1 img,
		li.col2 img,
		li.col3 img,
		li.col4 img {
			height: auto;
		}

	}

	// ADVANCED

}