#drppsm-sermons {
	&-pagination {
		margin-top: 1rem;
	}

	&-pagination>.page-numbers {
		margin: 0 4px;
	}
}

#drppsm_views {
	max-width: 100px;
}

#drppsm {

	&-flex-grid {
		display: flex;
		align-items: center;
		justify-content: center;

	}

	&-flex-grid>* {
		width: calc(100%/3);
		height: 90%;
		text-align: center;
		padding: 1em;
	}

}