#drppsm_sermon_sorting {
	padding: 0;
	margin: 0 0 24px 0;
	display: flex;
	flex-wrap: wrap;

	&.no-spacing {
		margin: 0;
		padding: 0;
	}

	>div {
		margin: 0 8px 4px 0;
		overflow: hidden;
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
		min-width: 100px;

		select {
			font-family: 'Noto Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
			padding: 12px;
			color: rgb(102, 102, 102);
			width: 100%;
		}
	}

	/*
	>div:last-child {
		margin: 0 0 4px 0;
	}
	*/

	form {
		margin: 0;
	}
}

@media (max-width: 700px) {
	.drppsm-sermon-container #drppsm_sermon_sorting {
		>div {
			width: 100%;
			margin: 0 0 12px 0;
		}

		>div:last-child {
			margin: 0;
		}

		select {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
}